<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bạn có một bức thư nè!</title>
        <link href="{{ url_for('static', filename='css/letter.css') }}" rel="stylesheet" />
    </head>

    <body>
        <div class="particles" id="particles"></div>
    
    <!-- Hiệu ứng trái tim bay lên -->
    <div class="floating-hearts" id="floating-hearts"></div>
    <div class="container">
        <div class="envelope">
            <div class="back"></div>
            <div class="letter">
                <div class="heart"></div>
                <div class="text">
                        <p>Hãy ấn vào đây để khám phá điều bất ngờ nhé</p>
                        <a href="{{ url_for('index') }}">Nhấp vào đây</a>
                </div>
            </div>
            <div class="front"></div>
            <div class="top"></div>
            <div class="shadow"></div>
        </div>
    </div>
        <div class="text1">
            <h2>Nhân dịp đặc biệt mình có 1 bức thư dành tặng các bạn nè! Hãy ấn vào bức thư nhé!</h2>
        </div>
        <script src="{{ url_for('static', filename='js/heart-floating.js') }}"></script>
    </body>
</html>
